<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Contacts</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                <mat-icon>code</mat-icon><br>
                <b>Check out my other projects!</b><br>
                <span>github.com/bpozsgai9</span><br>
            </p>
            <p>
                <mat-icon>person</mat-icon><br>
                <b>Please contact me via LinkedIn</b><br>
                <span>in/barnabas-pozsgai</span>
            </p>
        </mat-card-content>
    </mat-card>
</div>
