mat-card {
    width: 80%;
    height: fit-content;
    align-self: center;
    opacity: 0.8;
}

mat-card-header {
    display: initial;
}

.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: fit-content;
    background-color: rgb(50,50,50);
    color: white;
    
}

.main_component {
    height: 90vh;
    font-size: x-large;
    /*background-color: rgb(39,39,39);*/
    background-image: url(../../../assets/background.gif);
}
