div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main_component {
    height: 100vh;
}

.conatiner {
    font-size: xx-large;
    background-color: brown;
    width: 50%;
}

img {
    z-index: 999;
}

.my_icon {
    justify-content: flex-end;
}

.fire {
    color: purple;
    text-decoration: cyan wavy underline;
    
}
