<div class="card-container">
    <mat-card class="card" *ngFor="let e of fetchedData;">
        <mat-card-header>
          <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + assetsFolder + e.logo_img + ')', 'background-size' : 'cover'}"></div>
          <mat-card-title>{{ e.course }}</mat-card-title>
          <mat-card-subtitle>{{ e.school }}</mat-card-subtitle>
          <mat-card-subtitle>{{ e.work_date }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src='{{ assetsFolder + e.card_img }}'>
        <mat-card-content>
            <mat-chip-set *ngFor="let myChip of e.learned_techology;">
                <mat-chip>{{ myChip }}</mat-chip>
              </mat-chip-set>
        </mat-card-content>
      </mat-card>
</div>
