.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90vh;
    background-image: url(../../../assets/car.gif);
    background-size: cover;

}

.card {
    max-width: 400px;
    margin: 10px;
    background-color: rgb(50,50,50);
    color: white;
    height: fit-content;
}

mat-chip-set {
    display : inline-flex;
    margin-right: 5px;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-card-subtitle {
    color: white;
}

mat-card-title {
    font-weight: bold;
}
